<h2>All Celebrities</h2>
<a href="/celebrities/create">Create a celebrity</a>
{{#each celebrity}}
    <div>
        <h4>Name:</h4>
        <p>{{name}}</p>
        <h4>Occupation:</h4>
        <p>{{occupation}}</p>
        <h4>Phrase:</h4>
        <p>{{catchPhrase}}</p>
    </div>
{{/each}}